*.exe
*.swp
*.bk
*.rsproj
tags*
artifacts/
deploy/
build/
build-tests/
target/*
!target/release/
target/release/*
!target/release/README.md
/.idea
/.vscode
/.project
*.sublime-*
*.bootstrap.cache
/bin/
.cargo/
packages/
.DS_Store
*.back.aip
.env
installer/docker/sn_node
installer/docker/sn_node.*.config
installer/docker/.env
nodes
