{
    "hard_coded_contacts"          : [%{env:SAFE_VAULT_HARD_CODED_CONTACTS}],
    "whitelisted_node_ips"         : [%{env:SAFE_VAULT_WHITELISTED_NODE_IPS}],
    "whitelisted_client_ips"       : [%{env:SAFE_VAULT_WHITELISTED_CLIENT_IPS}],
    "tcp_acceptor_port"            : %{env:SAFE_VAULT_TCP_ACCEPTOR_PORT},
    "force_acceptor_port_in_ext_ep": %{env:SAFE_VAULT_FORCE_ACCEPTOR_PORT_IN_EXT_EP},
    "service_discovery_port"       : %{env:SAFE_VAULT_SERVICE_DISCOVERY_PORT},
    "bootstrap_cache_name"         : %{env:SAFE_VAULT_BOOTSTRAP_CACHE_NAME},
    "network_name"                 : %{env:SAFE_VAULT_NETWORK_NAME},
    "dev": {
        "disable_external_reachability_requirement": %{env:SAFE_VAULT_DISABLE_REACHABILITY_REQUIREMENT}
    }
}
