{
    "dev": {
        "allow_multiple_lan_nodes"   : %{env:SAFE_VAULT_ALLOW_MULTIPLE_LAN_NODES},
        "disable_client_rate_limiter": %{env:SAFE_VAULT_DISABLE_CLIENT_RATE_LIMITER},
        "disable_resource_proof"     : %{env:SAFE_VAULT_DISABLE_RESOURCE_PROOF},
        "min_section_size"           : %{env:SAFE_VAULT_MIN_SECTION_SIZE}
    }
}
